<!doctype html>
<html lang="es">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

  <title>PDAO</title>

</head>

<body style="background: #f9f9f9;">
  <!--NAVBAR-->
  <header>

    <div class="navbar navbar-dark shadow-sm fixed-top" style="background: blue;">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="home2">
            <img style="width:80px;" src="{% static 'img/logos/logo_trust.svg' %}" alt="">
          </a>

          <div class="menu-wrapper d-lg-none" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger-menu"></div>
          </div>


          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
              <li class="nav-item ml-3">
                <a class="nav-item nav-link" style="font-size:13px;" href="home.php">Tablero
                </a>
              </li>
              <li class="nav-item ml-3 active">
                <a class="nav-item nav-link" style="font-size:13px;" href="directorio.html">Directorio
                  <span class="sr-only">(current)</a>
              </li>
              <li class="nav-item ml-3">
                <a class="nav-item nav-link" style="font-size:13px;" href="#">Aplicaciones</a>
              </li>
              <li class="nav-item ml-3">
                <a class="nav-item nav-link" style="font-size:13px;" href="dispositivos_registrados.php">Dispositivos</span>
                </a>
              </li>
              <li class="nav-item dropdown ml-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" style="font-size:13px;">
                  Seguridad
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Autenticación</a>
                  <a class="dropdown-item" href="#">Multifactor</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item ml-3">
                <a class="nav-item nav-link" style="font-size:13px;" href="#">Reportes</a>
              </li>
              <li class="nav-item ml-3">
                <a class="nav-item nav-link" style="font-size:13px;" href="#">Ajustes</a>
              </li>

              <li class="nav-item ml-3 d-lg-none">
                <a class="nav-item nav-link" style="font-size:13px; font-weight: bold; color: lightskyblue" href="#">Cerrar Sesión</a>
              </li>

              <div class="float-right ml-auto d-none d-lg-block">
                <a href="#">
                  <i class="fas fa-power-off" style="color: #fff"></i>
                </a>
              </div>

            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <!--TABLA-->
  <div class="container mt-5 pt-2">
    <div class="col-lg-12 mt-5">
      <div class="row">
        <div>
          <h1 class="lead ml-3" style="font-size:40px; color: #a5a5a5;">Directorio</h1>
        </div>
      </div>




      <div class="row">

        <div class="col-12  col-lg-3">
          <div>
            <h6 class="mt-4 mb-4 lead" style="font-size: 18px; color: #1726ff">Empleados</h6>
          </div>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 mb-3" style="width: 160px; font-size: 12px;" type="search" placeholder="Buscar" aria-label="Search">
          </form>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Todos</label>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Activados</label>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Activación Pendiente</label>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Contraseña reestablecida</label>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Contraseña expirada</label>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Desactivado</label>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Suspendido</label>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Bloqueado</label>
          </div>


        </div>
        <div class="col-12 col-lg-9">

          <div class="col-sm-4 col-lg-12 mt-4 mb-4 d-flex align-items-center">
            <div class="row">
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle btn-sm ml-2 mb-2" style="font-size: 13px" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Otras Opciones
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Activar</button>
                <button class="dropdown-item" type="button">Desactivar</button>
                <button class="dropdown-item" type="button">Caducar Contraseña</button>
                <button class="dropdown-item" type="button">Desbloquear Empleado</button>
              </div>
            </div>
            <button type="button" class="btn btn-outline-secondary btn-sm ml-2 mb-2" style="font-size: 13px">Restablecer Multifactor</button>
            <button type="button" class="btn btn-outline-secondary btn-sm ml-2 mb-2" style="font-size: 13px">Restablecer la Contraseña</button>
            <button type="button" class="btn btn-outline-primary btn-sm ml-2 mb-2" style="font-size: 13px">Agregar Empleado</button>
          </div>
          </div>

          <div class="pt-2" style="background: #fff; border-radius: 8px">
            <div class="col-lg-12 mt-3 table-responsive">
              <table class="table table-hover" style="width: inherit !important; overflow-x: auto">
                <thead>
                  <tr style="background-color: #f3f3f3">
                    <th scope="col">Persona & Username</th>
                    <th scope="col">Email Primario</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="color: blue">Marcelo Sepúlveda
                      <br>
                      <span style="color: #bebebe">msepulveda@mail.com</span>
                    </td>
                    <td>msepulveda@mail.com</td>
                    <td>Activo</td>
                  </tr>
                  <tr>
                    <td style="color: blue">Octavio Flores
                      <br>
                      <span style="color: #bebebe">oflores@mail.com</span>
                    </td>
                    <td>oflores@mail.com</td>
                    <td>Activo</td>
                  </tr>
                  <tr>
                    <td style="color: blue">Lidia Woods
                      <br>
                      <span style="color: #bebebe">lwoods@mail.com</span>
                    </td>
                    <td>lwoods@mail.com</td>
                    <td>Inactivo</td>
                  </tr>
                  <tr>
                    <td style="color: blue">Sandy Patterson
                      <br>
                      <span style="color: #bebebe">spatterson@mail.com</span>
                    </td>
                    <td>spatterson@mail.com</td>
                    <td>Activo</td>
                  </tr>
                  <tr>
                    <td style="color: blue">Ernesto Figueroa
                      <br>
                      <span style="color: #bebebe">efigueroa@mail.com</span>
                    </td>
                    <td>efigueroa@mail.com</td>
                    <td>Activo</td>
                  </tr>
                  <tr>
                    <td style="color: blue">Alberto Torres
                      <br>
                      <span style="color: #bebebe">atorres@mail.com</span>
                    </td>
                    <td>atorres@mail.com</td>
                    <td>Inactivo</td>
                  </tr>
                  <tr>
                    <td style="color: blue">Enrrique Astudillo
                      <br>
                      <span style="color: #bebebe">eastudillo@mail.com</span>
                    </td>
                    <td>eastudillo@mail.com</td>
                    <td>Activo</td>
                  </tr>
                  <tr>
                    <td style="color: blue">Germán Valenzuela
                      <br>
                      <span style="color: #bebebe">gvalenzuela@mail.com</span>
                    </td>
                    <td>gvalenzuela@mail.com</td>
                    <td>Activo</td>
                  </tr>

                </tbody>
              </table>

            </div>

          </div>
        </div>
      </div>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{% static 'vendor/jquery/jquery.slim.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/fontawesome-all.js' %}"></script>

      <script>
        (function () {
          $(".menu-wrapper").on("click", function () {
            $(".hamburger-menu").toggleClass("animate");
          });
        })();
      </script>
</body>

</html>