<!doctype html>
<html lang="es">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/propeller.min.css' %}">

    <title>TRUST</title>
    <style>
        th {
            font-size: 12px;
        }

        td {
            font-size: 12px;
        }

        .vl {
            border-left: 1px solid;
            color: #a5a5a5;
        }
    </style>
</head>

<body style="background: #f9f9f9;">

  <header>

     <div class="navbar navbar-dark shadow-sm fixed-top" style="background: blue;">
         <div class="container">
             <nav class="navbar navbar-expand-lg navbar-light">
                 <a class="navbar-brand" href="../">
                     <img style="width:80px;" src="{% static 'img/logos/logo_trust.svg' %}" alt="">
                 </a>

                 <div class="menu-wrapper d-lg-none" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                     aria-expanded="false" aria-label="Toggle navigation">
                     <div class="hamburger-menu"></div>
                 </div>


                 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                     <ul class="navbar-nav">
                         <li class="nav-item ml-3 active">
                             <a class="nav-item nav-link" style="font-size:13px;" href="">Tablero
                             </a>
                         </li>
                         <li class="nav-item ml-3">
                             <a class="nav-item nav-link" style="font-size:13px;" href="#">Directorio
                                 <span class="sr-only">(current)</a>
                         </li>
                         <li class="nav-item ml-3">
                             <a class="nav-item nav-link" style="font-size:13px;" href="#">Aplicaciones</a>
                         </li>
                         <li class="nav-item ml-3">
                             <a class="nav-item nav-link" style="font-size:13px;" href="#">Dispositivos</span>
                             </a>
                         </li>
                         <li class="nav-item dropdown ml-3">
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                                 aria-expanded="false" style="font-size:13px;">
                                 Seguridad
                             </a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                 <a class="dropdown-item" href="#">Autenticación</a>
                                 <a class="dropdown-item" href="#">Multifactor</a>
                                 <a class="dropdown-item" href="#">Something else here</a>
                             </div>
                         </li>
                         <li class="nav-item ml-3">
                             <a class="nav-item nav-link" style="font-size:13px;" href="#">Reportes</a>
                         </li>
                         <li class="nav-item ml-3">
                             <a class="nav-item nav-link" style="font-size:13px;" href="#">Ajustes</a>
                         </li>

                         <li class="nav-item ml-3 d-lg-none">
                             <a class="nav-item nav-link" style="font-size:13px; font-weight: bold; color: lightskyblue" href="#">Cerrar Sesión</a>
                         </li>

                         <div class="float-right ml-auto d-none d-lg-block">
                             <a href="#">
                                 <i class="fas fa-power-off" style="color: #fff"></i>
                             </a>
                         </div>

                     </ul>
                 </div>
             </nav>
         </div>
     </div>
 </header>

    <!--TABLA-->
    <div class="container mt-5 pt-2">
        <div class="col-lg-12 mt-5">
            <div class="row">
                <div>
                    <h1 class="lead ml-3" style="font-size:40px; color: #a5a5a5;">Dashboard</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div>
                        <h6 class="mt-4 mb-4 lead" style="font-size: 18px; color: #1726ff">Actividad</h6>

                        <div class="d-flex justify-content-between">
                            <div class="col-lg-3 pl-0">
                                <!--form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2 mb-3" style="width: 160px; font-size: 12px;" type="search" placeholder="Buscar ID Trust" aria-label="Search">
                                </form-->
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="check_imei">
                                    <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Cambio de IMEI</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="check_sim">
                                    <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Cambio de SIM</label>
                                </div>
                                <!--div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Multiplicidad de IMEI</label>
                                </div-->
                                <!--div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Cambio Nº de Teléfono</label>
                                </div-->
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Cambio de Operador</label>
                                </div>
                                <!--div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1" style=" font-size: 13px;">Cambio de Ubicación</label>
                                </div-->

                            </div>

                            <div class="col-lg-9">
                              <?php for ($i = 0; $i < $res=count($data[audit]); $i++){ ?>
                                <?php if($data[audit][$i][transaction][field]): ?>

                                <div class="p-3 mb-3" style="background-color: #fff; border-radius: 8px">
                                  <?php $date = date_create($data[audit][$i][updated_at]); ?>
                                    <p class="mt-0" style="font-size:10px;"><?php echo date_format($date, 'd/m/Y H:i:s') ?></p>
                                    <h2 style="font-size: 16px;">Cambio de <?php echo strtoupper($data[audit][$i][transaction][field]); ?> </h2>
                                      <h2 style="font-size: 16px;">ID Trust
                                        <span class="badge badge-secondary" style="background-color: #1726ff"><?php echo $data[audit][$i][source][trustid]; ?></span>
                                    </h2>
                                    <p style="font-size: 12px;">Se ha modificado <?php echo strtoupper($data[audit][$i][transaction][field]); ?> del dispositivo</p>
                                    <p class="mt-0 mb-0" align="right">
                                    <a href="<?php echo 'detalle_dispositivo.php?idtrust='.$data[audit][$i][source][trustid]; ?>" class="pull-right" style="font-size:12px;">VER DETALLE</a>
                                  </p>
                                </div>

                              <?php endif; ?>
                            <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4 vl pl-4">
                    <h6 class="mt-4 mb-4 lead" style="font-size: 18px; color: #1726ff">Actividad</h6>
                    <span style="color: #1726ff">Frecuencia de actividad </span>



                    <div class="col-lg-12 p-4 mb-3" style="background-color: #fff; border-radius: 8px">


                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

                    </div>


                </div>



            </div>
        </div>
    </div>


    <!--MOVIMIENTOS-->

    <script>
    window.onload = function() {

    var chart = new CanvasJS.Chart("chartContainer", {
    	animationEnabled: true,
    	title: {
    		text: ""
    	},
    	data: [{
    		type: "pie",
    		startAngle: 240,
    		yValueFormatString: "##0.00\"%\"",
    		indexLabel: "{label}",
    		dataPoints: [
    			{y: 79.45, label: "Operador"},
    			{y: 7.31, label: "SIM"},
    			{y: 13.24, label: "IMEI"}
    		]
    	}]
    });
    chart.render();

    }
    </script>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'vendor/jquery/jquery.slim.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fontawesome-all.js' %}"></script>
    <script src="{% static 'js/propeller.min.js' %}"></script>
</body>

</html>