<!doctype html>
<html class="no-js" lang="es">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Demo Banco</title>
  <meta name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/trust.css' %}">
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-1 shadow-sm">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Banco Pacífico</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Buscar" aria-label="Buscar">
    <ul class=" navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="accounts/logout">Cerrar Sesión</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="far fa-home mr-2"></i>
                <span data-feather="home"></span>
                Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="directorio.html">
                <i class="far fa-address-book mr-2"></i>
                <span data-feather="file"></span>
                Directorio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="far fa-cog mr-2"></i>
                <span data-feather="users"></span>
                Ajustes
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
          <h1>Autorizaciones</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary active">Todos</button>
              <button class="btn btn-sm btn-outline-secondary">Pendientes</button>
              <button class="btn btn-sm btn-outline-secondary">Autorizados</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr style="background-color: #f3f3f3">
                <th>Tipo de Documento</th>
                <th>Momento</th>
                <th>Localización</th>
                <th>Usuario a cargo</th>
                <th>Número de cuenta</th>
                <th>Estado</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-transfer">Transferencia</span>
                </td>
                <td>Hoy, 10:42 hrs.</td>
                <td>Valparaíso</td>
                <td>Germán Torres</td>
                <td>5620567933</td>
                <td class="mt-2">
                  <span class="badge badge-pendiente">Pendiente</span>
                </td>
                <td>
                  <a href="detalle.html">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-seguro">Seguro</span>
                </td>
                <td>Hoy, 09:46 hrs.</td>
                <td>Valparaíso</td>
                <td>Alicia Mercadal</td>
                <td>6934562572</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-credito">Crédito</span>
                </td>
                <td>Hoy, 09:33 hrs.</td>
                <td>Valparaíso</td>
                <td>Carlos Fernández</td>
                <td>7823611457</td>
                <td class="mt-2">
                  <span class="badge badge-pendiente">Pendiente</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-transfer">Transferencia</span>
                </td>
                <td>Hoy, 09:32 hrs.</td>
                <td>Viña del Mar</td>
                <td>Antonia González</td>
                <td>9457254317</td>
                <td class="mt-2">
                  <span class="badge badge-pendiente">Pendiente</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-transfer">Transferencia</span>
                </td>
                <td>Ayer, 13:42 hrs.</td>
                <td>Valparaíso</td>
                <td>Adolfo Hicks</td>
                <td>8305626544</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-credito">Crédito</span>
                </td>
                <td>Ayer, 13:38 hrs.</td>
                <td>Viña del Mar</td>
                <td>Florentino Baeza</td>
                <td>8356245176</td>
                <td class="mt-2">
                  <span class="badge badge-pendiente">Pendiente</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-transfer">Transferencia</span>
                </td>
                <td>Ayer, 13:03 hrs.</td>
                <td>Valparaíso</td>
                <td>Carmen Sepúlveda</td>
                <td>7835234503</td>
                <td class="mt-2">
                  <span class="badge badge-pendiente">Pendiente</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-seguro">Seguro</span>
                </td>
                <td>Ayer, 12:42 hrs.</td>
                <td>Valparaíso</td>
                <td>Germán Torres</td>
                <td>8356267803</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-credito">Crédito</span>
                </td>
                <td>Ayer, 11:58 hrs.</td>
                <td>Valparaíso</td>
                <td>Alicia Mercadal</td>
                <td>6831634792</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-transfer">Transferencia</span>
                </td>
                <td>Ayer, 11:24 hrs.</td>
                <td>Valparaíso</td>
                <td>Marisol Orrego</td>
                <td>9365925115</td>
                <td class="mt-2">
                  <span class="badge badge-pendiente">Pendiente</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-seguro">Seguro</span>
                </td>
                <td>Ayer, 10:42 hrs.</td>
                <td>Valparaíso</td>
                <td>Germán Torres</td>
                <td>5620567933</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>


    </div>
  </div>


  <!-- Javascript core -->
  <script src="{% static 'scripts/jquery.min.js' %}"></script>
  <script src="{% static 'scripts/popper.min.js' %}"></script>
  <script src="{% static 'scripts/bootstrap.min.js' %}"></script>

</body>

</html>