<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Demo Banco</title>
  <meta name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="../dist/css/trust.css">
  <link rel="stylesheet" href="../dist/css/shards.css">
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-1 shadow-sm">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img class="logo-banco" src="../dist/images/logo_banco_pacifico.svg"
        alt=""></a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Buscar" aria-label="Buscar">
    <ul class=" navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="login.html">Cerrar Sesión</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="far fa-home mr-2"></i>
                <span data-feather="home"></span>
                Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="far fa-bell mr-2"></i>
                <span data-feather="users"></span>
                Notificaciones<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="far fa-cog mr-2"></i>
                <span data-feather="users"></span>
                Ajustes
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
          <h1>Notificaciones</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary active">Todos</button>
              <button class="btn btn-sm btn-outline-secondary">Pendientes</button>
              <button class="btn btn-sm btn-outline-secondary">Autorizados</button>
            </div>
            <div>
              <input type="text" class="form-control date-select" id="datepicker-example" placeholder="Selecciona Fecha">
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr style="background-color: #f3f3f3">
                <th>Tipo de Documento</th>
                <th>Localización</th>
                <th>Usuario a cargo</th>
                <th>Número de cuenta</th>
                <th>Fecha de envío</th>
                <th>Fecha de respuesta</th>
                <th>Estado</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-transfer">Transferencia</span>
                </td>
                <td>Valparaíso</td>
                <td>Germán Torres</td>
                <td>5620567933</td>
                <td>Hoy, 10:42 hrs.</td>
                <td>Hoy, 10:45 hrs.</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="detalle.html">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-seguro">Seguro</span>
                </td>
                <td>Valparaíso</td>
                <td>Alicia Mercadal</td>
                <td>6934562572</td>
                <td>Hoy, 09:46 hrs.</td>
                <td>-</td>
                <td class="mt-2">
                  <span class="badge badge-pendiente">Pendiente</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-credito">Crédito</span>
                </td>
                <td>Valparaíso</td>
                <td>Carlos Fernández</td>
                <td>7823611457</td>
                <td>Hoy, 09:33 hrs.</td>
                <td>Hoy, 09:40 hrs.</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-transfer">Transferencia</span>
                </td>
                <td>Viña del Mar</td>
                <td>Antonia González</td>
                <td>9457254317</td>
                <td>Hoy, 09:32 hrs.</td>
                <td>Hoy, 09:39 hrs.</td>
                <td class="mt-2">
                  <span class="badge badge-rechazado">Rechazado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-transfer">Transferencia</span>
                </td>
                <td>Valparaíso</td>
                <td>Adolfo Hicks</td>
                <td>8305626544</td>
                <td>Ayer, 13:42 hrs.</td>
                <td>Ayer, 13:50 hrs.</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-credito">Crédito</span>
                </td>
                <td>Viña del Mar</td>
                <td>Florentino Baeza</td>
                <td>8356245176</td>
                <td>Ayer, 13:38 hrs.</td>
                <td>Ayer, 13:42 hrs.</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-transfer">Transferencia</span>
                </td>
                <td>Valparaíso</td>
                <td>Carmen Sepúlveda</td>
                <td>7835234503</td>
                <td>Ayer, 13:03 hrs.</td>
                <td>Ayer, 13:07 hrs.</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-seguro">Seguro</span>
                </td>
                <td>Valparaíso</td>
                <td>Germán Torres</td>
                <td>8356267803</td>
                <td>Ayer, 12:42 hrs.</td>
                <td>Ayer, 12:50 hrs.</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-credito">Crédito</span>
                </td>
                <td>Valparaíso</td>
                <td>Alicia Mercadal</td>
                <td>6831634792</td>
                <td>Ayer, 11:58 hrs.</td>
                <td>Ayer, 12:03 hrs.</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-transfer">Transferencia</span>
                </td>
                <td>Valparaíso</td>
                <td>Marisol Orrego</td>
                <td>9365925115</td>
                <td>Ayer, 11:24 hrs.</td>
                <td>Ayer, 11:33 hrs.</td>
                <td class="mt-2">
                  <span class="badge badge-rechazado">Rechazado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="mt-2">
                  <span class="badge badge-seguro">Seguro</span>
                </td>
                <td>Valparaíso</td>
                <td>Germán Torres</td>
                <td>5620567933</td>
                <td>Ayer, 10:42 hrs.</td>
                <td>Ayer, 10:51 hrs.</td>
                <td class="mt-2">
                  <span class="badge badge-autoriz">Autorizado</span>
                </td>
                <td>
                  <a href="#">
                    <i class="far fa-chevron-right"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </main>


    </div>
  </div>


  <!-- Javascript core -->
  <script src="../dist/scripts/jquery.min.js"></script>
  <script src="../dist/scripts/popper.min.js"></script>
  <script src="../dist/scripts/bootstrap.min.js"></script>

  <script src="../dist/scripts/shards.js"></script>

  <script>
    $('#datepicker-example').datepicker({});
  </script>



</body>

</html>