<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Demo Banco</title>
  <meta name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="../dist/css/trust.css">
  <link rel="stylesheet" href="../dist/css/shards.css">
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-1 shadow-sm">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img class="logo-banco" src="../dist/images/logo_banco_pacifico.svg"
        alt=""></a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Buscar" aria-label="Buscar">
    <ul class=" navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="login.html">Cerrar Sesión</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="far fa-home mr-2"></i>
                <span data-feather="home"></span>
                Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="notificaciones.html">
                <i class="far fa-bell mr-2"></i>
                <span data-feather="users"></span>
                Notificaciones
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="far fa-cog mr-2"></i>
                <span data-feather="users"></span>
                Ajustes
              </a>
            </li>
          </ul>
        </div>
      </nav>


<div class="container">
    <div>
        
    </div>
</div>







    </div>
</div>


<!-- Javascript core -->
<script src="../dist/scripts/jquery.min.js"></script>
<script src="../dist/scripts/popper.min.js"></script>
<script src="../dist/scripts/bootstrap.min.js"></script>

<script src="../dist/scripts/shards.js"></script>

<script>
  $('#datepicker-example').datepicker({});
</script>