<!doctype html>
<html class="no-js" lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Demo Banco</title>
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/trust.css' %}">
</head>

<body class="body-login">
    <div class="card col-3 mx-auto shadow-sm p-0 mt-5">
        <div class="card-header">
            <img class="logo-login" src="{% static 'img/logos/logo_banco_pacifico.svg' %}" alt="">
        </div>
        <form class="p-4 mt-5" action="http://127.0.0.1:8000/accounts/login/" method="POST">

            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Correo electrónico</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                    placeholder="Pone el mail">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Y la clave">
                <a class="d-flex flex-row-reverse mt-1" href="">Olvidé mi contraseña</a>
            </div>
            <input type="submit" class="btn btn-primary btn-sm w-100 mt-5 mb-4" value="Ingresar">
        </form>
        <div class="text-center mb-3">
            <p>Verified by</p>

            <img class="logo-chico" src="{% static 'img/logos/logo_trust.svg' %}" alt="">


        </div>



    </div>

    <!-- Javascript core -->
    <script src="{% static "scripts/jquery.min.js" %}"></script>
    <script src="{% static "scripts/popper.min.js" %}"></script>
    <script src="{% static "scripts/bootstrap.min.js" %}"></script>

</body>

</html>
